::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px; }

::-webkit-scrollbar-thumb {
  border-radius: 14px;
  background-color: #c8d6fc;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }

.nav-tabs {
  border: none; }
  .nav-tabs > li a.ms-btn,
  .nav-tabs > li.active a.ms-btn {
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 2px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #FFF;
    background: #EBE8D9;
    border-left: 2px solid #FFF; }
    .nav-tabs > li a.ms-btn:first-letter,
    .nav-tabs > li.active a.ms-btn:first-letter {
      text-decoration: underline; }

body {
  background: #ECE9D8;
  height: 1000px;
  font-family: monospace, sans-serif; }

.file-list {
  display: inline-block;
  background: white;
  border: 2px solid #868585;
  width: 750px;
  height: 450px;
  overflow: scroll; }
  .file-list thead {
    background: #ECE9D8; }
    .file-list thead th {
      border-right: 2px solid #868585;
      border-bottom: 2px solid #868585;
      font-family: monospace, sans-serif; }

.tab-content {
  height: 450px; }

.tab-pane {
  border: 2px solid #BBB4A2;
  width: 94%;
  height: inherit; }
